# Core ETL
pandas==2.2.2
numpy==1.26.4
requests==2.31.0

# Database — PostgreSQL
psycopg2-binary==2.9.9
SQLAlchemy==2.0.30

# Database — Snowflake (Phase 5)
snowflake-connector-python==3.10.0
snowflake-sqlalchemy==1.5.3

# Jupyter Notebooks (Phase 1 exploration)
jupyter==1.0.0
ipykernel==6.29.4

# Visualisation (Phase 4)
matplotlib==3.8.4
seaborn==0.13.2

# Utilities
python-dotenv==1.0.1
loguru==0.7.2
